<?php
//
// Laclasse address book configuration file
//
//

$config['laclasse_addressbook_api_user']   = 'http://vwww.dev.laclasse.com/api/users/';
$config['laclasse_addressbook_api_etab']   = 'http://www.dev.laclasse.com/api/structures/';
$config['laclasse_addressbook_api_group']  = 'http://www.dev.laclasse.com/api/groups/';
$config['laclasse_addressbook_api_profiles_types'] = 'http://www.dev.laclasse.com/api/profiles_types/';
$config['laclasse_addressbook_api_avatar'] = 'http://www.dev.laclasse.com/';
$config['laclasse_addressbook_app_id'] = 'MAIL';
$config['laclasse_addressbook_api_key'] = 'api_authorized_key';


